- name: Pull and Push
        run: |
          # 1. 拉取（GitHub 缓存会加速这一步）
          docker pull nvcr.io/nvidia/pytorch:25.01-py3
          
          # 2. 检查变量拼接，确保 ${{ secrets.ALI_REGISTRY }} 结尾没有斜杠
          # 如果你的 ALI_REGISTRY 填的是 "registry.cn-hangzhou.aliyuncs.com"
          # 这里的拼接结果将是 "registry.cn-hangzhou.aliyuncs.com/my_english/pytorch-5090:25.01"
          docker tag nvcr.io/nvidia/pytorch:25.01-py3 ${{ secrets.ALI_REGISTRY }}/my_english/pytorch-5090:25.01
          
          # 3. 推送到国内
          docker push ${{ secrets.ALI_REGISTRY }}/my_english/pytorch-5090:25.01
