name: Sync to Aliyun
on: [push]
jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - name: Login and Push
        run: |
          # 使用账号和刚设置的【访问凭证固定密码】登录
          docker login --username=${{ secrets.ALI_USERNAME }} --password=${{ secrets.ALI_PASSWORD }} registry.cn-hangzhou.aliyuncs.com
          
          # 拉取官方镜像
          docker pull nvcr.io/nvidia/pytorch:25.01-py3
          
          # 打标签（请再次确认 my_english 是你在阿里云创建的命名空间）
          docker tag nvcr.io/nvidia/pytorch:25.01-py3 registry.cn-hangzhou.aliyuncs.com/my_english/pytorch-5090:25.01
          
          # 执行推送
          docker push registry.cn-hangzhou.aliyuncs.com/my_english/pytorch-5090:25.01
