name: Sync to Aliyun
on: [push]

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - name: Login to Aliyun
        # 使用 echo 配合 --password-stdin 强制非交互登录，解决 non TTY 错误
        run: |
          echo "${{ secrets.ALI_PASSWORD }}" | docker login --username=${{ secrets.ALI_USERNAME }} --password-stdin registry.cn-hangzhou.aliyuncs.com

      - name: Pull and Push
        run: |
          # 1. 拉取支持 sm_120 的 NVIDIA 官方镜像
          docker pull nvcr.io/nvidia/pytorch:25.01-py3
          
          # 2. 打标签：确保路径为 域名/命名空间/仓库名:标签
          docker tag nvcr.io/nvidia/pytorch:25.01-py3 registry.cn-hangzhou.aliyuncs.com/my_english/pytorch-5090:25.01
          
          # 3. 推送到阿里云私有仓库
          docker push registry.cn-hangzhou.aliyuncs.com/my_english/pytorch-5090:25.01
