name: Sync to Aliyun
on: [push]
jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - name: Login to Aliyun
        run: docker login --username=${{ secrets.ALI_USERNAME }} --password=${{ secrets.ALI_PASSWORD }} ${{ secrets.ALI_REGISTRY }}
      - name: Pull and Push
        run: |
          # 1. 拉取 (这步之前已经跑通了，由于缓存会非常快)
          docker pull nvcr.io/nvidia/pytorch:25.01-py3
          
          # 2. 修正打标签逻辑：直接使用完整路径，确保开头和中间没有多余斜杠
          # 格式必须是：域名/命名空间/仓库名:标签
          docker tag nvcr.io/nvidia/pytorch:25.01-py3 registry.cn-hangzhou.aliyuncs.com/my_english/pytorch-5090:25.01
          
          # 3. 执行推送
          docker push registry.cn-hangzhou.aliyuncs.com/my_english/pytorch-5090:25.01
