name: Sync to Aliyun
on: [push]


jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - name: Login to Aliyun
        # 显式映射环境变量
        env:
          ALI_USER: ${{ secrets.ALI_USERNAME }}
          ALI_PASS: ${{ secrets.ALI_PASSWORD }}
        run: |
          echo "$ALI_PASS" | docker login --username="$ALI_USER" --password-stdin registry.cn-hangzhou.aliyuncs.com

      - name: Pull and Push
        run: |
          # 1. 拉取 (GitHub 缓存会使这步很快)
          docker pull nvcr.io/nvidia/pytorch:25.01-py3
          
          # 2. 打标签 (请确保 my_english 空间已在阿里云创建)
          docker tag nvcr.io/nvidia/pytorch:25.01-py3 registry.cn-hangzhou.aliyuncs.com/my_english/pytorch-5090:25.01
          
          # 3. 推送
          docker push registry.cn-hangzhou.aliyuncs.com/my_english/pytorch-5090:25.01
