name: Sync to Aliyun
on: [push]

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - name: Login to Aliyun
        run: |
          # 1. 这里直接把账户名写进去（例如 13800138000）
          # 2. 这里的密码写死你刚才在阿里云设的那个【固定密码】
          # 3. 如果成功了，下次再改回 secrets 保护。如果这都 403，那就是阿里云账号的问题。
          echo "28457834BBBksi" | docker login --username="最朦胧的梦" --password-stdin registry.cn-hangzhou.aliyuncs.com

      - name: Pull and Push
        run: |
          # 之前的 Pull 已经成功了，现在只要冲破 Push
          docker pull nvcr.io/nvidia/pytorch:25.01-py3
          docker tag nvcr.io/nvidia/pytorch:25.01-py3 registry.cn-hangzhou.aliyuncs.com/my_english/pytorch-5090:25.01
          docker push registry.cn-hangzhou.aliyuncs.com/my_english/pytorch-5090:25.01
