name: Sync to Aliyun
on: [push]

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - name: Free Disk Space
        run: |
          sudo rm -rf /usr/share/dotnet /opt/ghc "/usr/local/share/boost"
          sudo rm -rf "$AGENT_TOOLSDIRECTORY"

      - name: Login to Aliyun
        # 重点：统一使用你的专属个人实例域名
        run: |
          echo "${{ secrets.ALI_PASSWORD }}" | docker login --username="${{ secrets.ALI_USERNAME }}" --password-stdin crpi-ut0apwr713irl7gy.cn-hangzhou.personal.cr.aliyuncs.com

      - name: Pull and Push
        run: |
          # 1. 拉取支持 RTX 5090 D (sm_120) 的 NVIDIA 官方镜像
          docker pull nvcr.io/nvidia/pytorch:25.01-py3
          
          # 2. 打标签：统一使用专属域名
          docker tag nvcr.io/nvidia/pytorch:25.01-py3 crpi-ut0apwr713irl7gy.cn-hangzhou.personal.cr.aliyuncs.com/my_english/pytorch-5090:25.01
          
          # 3. 推送
          docker push crpi-ut0apwr713irl7gy.cn-hangzhou.personal.cr.aliyuncs.com/my_english/pytorch-5090:25.01
